.App {
  text-align: center;
  position: relative;
}

.background {
  position: absolute;
  float: left;
  background-image: url("./background.png");
  width: 1920px;
  height: 1028px;
  z-index: -1000;
}

.behind {
  position: fixed;
  /* z-index: -500000; */
  height: 90vh;
  width: 100%;
}

.behind iframe {
  height: 90vh;
  width: 100%;
}

WebcamAccess {
  position: fixed;
  background: none;
  background-color: none;
  z-index: -20000;
  height: 100vh;
}

MetAccess {
  position: absolute;
  background: none;
  background-color: none;
  z-index: 2;
}
