.App {
  text-align: center;
  position: relative;
}

.background {
  position: absolute;
  background-image: url("./background.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1000;
  clip-path: polygon(100% 100%, 100% 0, 0 0, 0 95%, 10% 100%, 5% 100%);
}

.behind {
  height: 95vh;
  width: 100%;
}

.behind iframe {
  height: 98vh;
  width: 100%;
}

.back-video {
  position: fixed;
  height: 90vh;
  width: 100%;
  z-index: -5000000;
}

WebcamAccess {
  position: fixed;
  background: none;
  background-color: none;
  z-index: -20000;
  height: 100vh;
}

.tableau {
  color: white;
  position: fixed;
  position: absolute;
  right: 0;
  height: 90vh;
  width: 40%;
  z-index: 2;
}

#title-tableau,
#credit-tableau {
  position: fixed;
  left: 0;
  height: 15vh;
  left: 2vw;
}

#title-tableau {
  bottom: 18vh;
}

#credit-tableau {
  bottom: 14vh;
}

.chevalet-tableau {
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
  perspective: 1000px;
}

.chevalet {
  position: absolute;
  bottom: 0;
  right: 30vh;
  transform: translateY(15vh);
  height: 100%;
}

.chevalet img {
  height: 100%;
}

.image-tableau {
  position: absolute;
  z-index: 3000;
  bottom: 18vh;
  right: 15vw;
  width: 40%;
  transform: rotate3d(-0.03, 1, 0.1, 148deg);
}

button {
  z-index: 1000000000;
  position: fixed;
  top: 90vh;
  padding: 15px;
  background: none;
  font-size: 13px;
  color: white;
  border: 0.5px solid white;
}

#button1 {
  right: 45vw;
}

#button2 {
  right: 55vw;
}
